{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Main Page
{% endblock %}

{% block scripts %}
    <script src="//code.highcharts.com/stock/highstock.js"></script>

    <link
        rel="import"
        href="{% static "webcomponents/inout/in-out.html" %}">

    <script>
        {% comment %} console.log("{{ data }}"); {% endcomment %}
    </script>
{% endblock %}

{% block content %}

    <in-out
        game-Data='{{ data }}'>
    </in-out>

{% endblock %}
